# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output dari build Go
/bin/
/build/
/dist/
/target/
/tmp/
main

# Cache dan modul
/vendor/
/pkg/
/*.prof
*.pprof
*.profraw

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.air.toml

# Sistem
.DS_Store
Thumbs.db

# Coverage & logs
*.log
*.cover
*.coverage
coverage.out

# Config environment
.env
.env.*
